.App-header{
  background-color: #222;
  height: 100px;
  padding: 10px;
  color: white;
  font-family: avenir;
  font-size: 2em;
  text-align: center;
}
.App-title{
  font-size: 1.5em;
  margin: 0%;
}
.App-intro{
  font-size: large;
}
.menu-and-content-container{
  display: flex;
 flex-direction: row;
  
  flex-wrap: wrap;
}
.menu-bar-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.menu-bar{
  height: 3em;
  width: 10em;
  margin: .5em;
  text-align: center;
  font-size: 1em;
  background-color: #222;
  font-family: Avenir;
  color: white;
}
a{
  font-family: Avenir;
  color: white;
  text-decoration:none;
}
.menu-bar:hover{
  transform: translate(3px, 3px);
}
h6{
  display: none;
}
.merch-container{
  display: flex;
  flex-wrap: wrap;
  flex-wrap: inherit;
  flex-direction: row;
}
.merch{
  flex-direction: row;
  text-align: center;
  align-items: center;
}
img{
  height: 150px;
  width: 150px;
  border: 2px solid;
}
button:hover{
  transform: translate(1px, 1px);
}